*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;  // 1rem = 10px | 10/16 = 62.5%
  
  @include respond(desktop-big) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }
  
  @include respond(tablet-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }
  
  @include respond(tablet-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 37.5%; // 1rem = 8px, 6/16 = 37.5%
  }
}

body {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto;
}

::selection {
  background-color: $color-secondary;
  color: $color-light-gray
}