@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-bold-webfont.woff2') format('woff2'),
       url('../fonts/Lato/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-light-webfont.woff2') format('woff2'),
       url('../fonts/Lato/lato-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/Lato/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Varela Round';
  src: url('../fonts/VarelaRound/varelaround-regular-webfont.woff2') format('woff2'),
       url('../fonts/VarelaRound/varelaround-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}