// FONTS
$font-primary: 'Lato';
$font-secondary: 'Varela Round';

// COLORS
$color-primary: #8c8f94;
$color-secondary: #26272d;

$color-secondary-light: #bdc3c7;
$color-secondary-dark: #2c3e50;

$color-tertiary: #267df4;

$color-light-gray: #ededee;

$color-black: #000;
$color-white: #fff;